.home-banner {
    margin: 60px auto 45px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imageHomeBanner {
    width: 86%;
    object-fit: cover;
    border-radius: 25px;
    height: 223px;
    filter: brightness(80%);
}

h1 {
    color: white;
    font-weight: 400;
    text-align: center;
    line-height: 223px;
    font-size: 48px;
    position: absolute;
    margin: 0;
}
