.imageAProposBanner {
    margin-top: 60px;
    margin-bottom: 0px;
    width: 86%;
    object-fit: cover;
    border-radius: 25px;
    height: 223px;
    filter: brightness(80%);
}

.a-propos-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .a-propos-banner {
        margin: 20px auto;
        height: 111px;
    }

    .imageAProposBanner {
        margin-top: 0;
        height: 111px;
    }
}
